In [3]:
import os
import joblib
import pandas as pd
from fastapi import FastAPI
from pydantic import BaseModel, Field

from ml.data import apply_label, process_data
from ml.model import inference, load_model

In [6]:
# DO NOT MODIFY
class Data(BaseModel):
    age: int = Field(..., example=37)
    workclass: str = Field(..., example="Private")
    fnlgt: int = Field(..., example=178356)
    education: str = Field(..., example="HS-grad")
    education_num: int = Field(..., example=10, alias="education-num")
    marital_status: str = Field(
        ..., example="Married-civ-spouse", alias="marital-status"
    )
    occupation: str = Field(..., example="Prof-specialty")
    relationship: str = Field(..., example="Husband")
    race: str = Field(..., example="White")
    sex: str = Field(..., example="Male")
    capital_gain: int = Field(..., example=0, alias="capital-gain")
    capital_loss: int = Field(..., example=0, alias="capital-loss")
    hours_per_week: int = Field(..., example=40, alias="hours-per-week")
    native_country: str = Field(..., example="United-States", alias="native-country")

In [7]:
data = {
    "age": 37,
    "workclass": "Private",
    "fnlgt": 178356,
    "education": "HS-grad",
    "education-num": 10,
    "marital-status": "Married-civ-spouse",
    "occupation": "Prof-specialty",
    "relationship": "Husband",
    "race": "White",
    "sex": "Male",
    "capital-gain": 0,
    "capital-loss": 0,
    "hours-per-week": 40,
    "native-country": "United-States",
}

In [9]:
data_dict = data
#data_dict = data.dict()
# DO NOT MODIFY: clean up the dict to turn it into a Pandas DataFrame.
# The data has names with hyphens and Python does not allow those as variable names.
# Here it uses the functionality of FastAPI/Pydantic/etc to deal with this.
data = {k.replace("_", "-"): [v] for k, v in data_dict.items()}
data = pd.DataFrame.from_dict(data)

In [10]:
data

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,37,Private,178356,HS-grad,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States

In [12]:
cat_features = [
        "workclass",
        "education",
        "marital-status",
        "occupation",
        "relationship",
        "race",
        "sex",
        "native-country",
    ]

In [17]:
# project_path = '/home/lylewilliams/Deploying-a-Scalable-ML-Pipeline-with-FastAPI/'
project_path = os.getcwd()
encoder_path = os.path.join(project_path, "model", "encoder.pkl")
encoder = load_model(encoder_path)

In [18]:
data_processed, _, _, _ = process_data(
        data, cat_features, training = False, encoder=encoder,  # Pass the encoder object used during training
    )

In [21]:
model = joblib.load(project_path + "/model/model.pkl")

In [22]:
_inference = _inference(model, data_processed)

NameError: name '_inference' is not defined